{{#> FormCard title="Профиль пользователя"}}
<div class="profile">
    {{> Avatar avatar}}

  <form id="profile-form">
    {{#each fields}}
      {{> Input this}}
    {{/each}}
    
    <div class="profile-password">
        <h3>Изменить пароль</h3>
        {{#each passwordFields}}
            {{>Input this}}
        {{/each}}
    </div>
    
    <div class="profile-actions">
      {{> Button class=primaryButton.class type=primaryButton.type text=primaryButton.text }}
    </div>
    
  </form>


</div>
{{/FormCard}}