<div class="chat-list">
  {{> Search placeholder="Поиск"}}
  <div class="chat-list__items">
    {{#each chats}}
      {{> ChatItem 
        avatarSrc=this.avatarSrc
        name=this.name
        lastMessageText=this.lastMessageText
        lastMessageTime=this.lastMessageTime
        unreadCount=this.unreadCount
        active=this.active
      }}
    {{/each}}
  </div>
</div>
