<div class="error-page">
    <h1 class="error-code">{{errorCode}}</h1>
    <h2 class="error-messae">{{errorMessage}}</h2>
    {{> Button 
        class="button-primary" 
        text="Вернутся на главную" 
        type="button"
        onClick="window.location.href='/'"}}
</div>
