<div class="avatar {{size}} {{#if editable}}avatar--editable{{/if}}">
  <img src="{{src}}" alt="{{alt}}" class="avatar__image">
  {{#if editable}}
  <div class="avatar__overlay">
    <span class="avatar__edit-text">Поменять аватар</span>
  </div>
  {{/if}}
</div>