.message {
  max-width: 100%;
  margin-bottom: 10px;
  align-self: flex-start;
}

.message--mine {
  align-self: flex-end;

  .message__content {
    background-color: #E4EDFD;
    border-radius: 12px 12px 0;
  }
}

.message__content {
  background-color: #F8F8F8;
  padding: 11px;
  border-radius: 12px 12px 12px 0;
  font-size: 12px;
  line-height: 1.5;
  position: relative;
}

.message__meta {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 4px;
}

.message__time {
  color: #999;
  font-size: 9px;
  margin-right: 4px;
}

.message__status {
  color: #999;
  font-size: 9px;
}

.message__status--read {
  color: #3369F3;
}

